@using Microsoft.AspNetCore.Identity
@using MyGymWorld.Core.Contracts;
@using MyGymWorld.Data.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject INotificationService notificationService;
@inject IManagerService managerService;

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        if (User.IsInRole("Administrator"))
        {
            <li class="nav-item active">
                <form asp-area="Admin" asp-controller="Manager" asp-action="Requests" method="get">
                    <button type="submit" class="btn btn-primary" style="background-color: #204FCA; border-color: black;">
                        Requests
                        <span class="badge badge-light">
                            @(await this.managerService.GetAllNotApprovedManagerRequestsCountAsync())
                        </span>
                    </button>
                </form>
            </li>
        }
        <li class="nav-item active">
            <form asp-area="" asp-controller="Notification" asp-action="Index" method="get">
                <button type="submit" class="btn btn-primary" style="background-color: #204FCA; border-color: black;">
                    Notifications
                    <span class="badge badge-light">
                        @(await this.notificationService.GetUnReadNotificationsCountByUserIdAsync(this.UserManager.GetUserId(this.User)))
                    </span>
                </button>
           </form>
       </li>
    <li class="nav-item active">
        <a  class="nav-link text-light" asp-controller="User" asp-action="UserProfile">My Profile</a>
    </li>
        <li class="nav-item active" style="text-align: right">
        <form  class="form-inline" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-light">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Account" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-light" asp-controller="Account" asp-action="login">Login</a>
    </li>
}
</ul>
