@{
    ViewData["Title"] = "Error";
}
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <div class="row">
            <div class="col-10">
                <img src="https://mir-s3-cdn-cf.behance.net/projects/404/c9ff55103258899.Y3JvcCwxMTUwLDkwMCwxMjUsMA.jpg" alt="Alternative image" class="img-thumbnail">
                <div class="text-left h4">
                    <p>Oops, better check that URL. Page was not found.</p>
                </div>
                <div class="text-left h4"> Go back to <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> Page</div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>