@{
    ViewData["Title"] = "Error";
}
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <div class="row">
            <div class="col-10">
                <img src="https://www.awardspace.com/wp-content/uploads/2021/01/403-forbidden-1.jpg" alt="Alternative image" class="img-thumbnail">
                <div class="text-left h4">
                    <p>Oops, you are NOT authorized you use this resource.</p>
                </div>
                <div class="text-left h4"> Go back to <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> Page</div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>
