@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<link href="~/css/particles.css" rel="stylesheet" />
<script src="~/js/particles.js"></script>