@model EnterEmailInputModel

@{
    ViewData["Title"] = "Enter your email";
}

<link rel="stylesheet" href="~/css/forgot-password-form.css" />

@*Particles*@
<link href="~/css/particles.css" rel="stylesheet" />

@*Particles*@
<script src="~/js/particles.js"></script>

<div class="wrapper" style="z-index: 1;">
    <div class="title">
       Enter your email address.
    </div>
    <form asp-area="" asp-controller="Account" asp-action="SendResetPasswordEmail" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="field">
            <input asp-for="@Model.Email" class="form-control" autocomplete="email" aria-required="true" required>
            <label asp-for="@Model.Email"></label>
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
        </div>
        <div class="field">
            <input type="submit" value="Reset">
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}