@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700');

.height-vh {
    height: 100vh;
}

#comment-container {
    padding: 40px !important;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.date {
    font-size: 12px;
}

.comment-text {
    font-size: 14px;
    line-height: 1.2rem;
}

.fs-14 {
    font-size: 14px;
}

.name {
    color: #FE654F;
}

.cursor {
    cursor: pointer;
}

    .cursor:hover {
        color: blue;
    }
