@model CreateRoleInputModel

@{
    ViewData["Title"] = "Create Role";
}

<div class="row" style="display: flex; justify-content: center; align-items: center;">
    <div class="col-md-4" style=" box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); padding: 20px;">
        <section>
            <form asp-area="Admin" asp-controller="Role" asp-action="Create" method="post">
                <h2 style="text-align: center;">Create Role</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="@Model.Name" class="form-control" autocomplete="name" aria-required="true" required />
                    <label asp-for="@Model.Name" class="form-label"></label>
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div style="margin-top: 10px;">
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Create</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}