@using MyGymWorld.Common;

@{
    ViewData["Title"] = "_SideNavPartial";
}

@if (this.User.IsInRole(ApplicationRoleConstants.AdministratorRoleName))
{
    <h3 class="disabled">Admin</h3>
    <hr />
    <ul class="nav nav-pills flex-column" id="sideNav">
        <li class="nav-item"><a asp-area="" asp-controller="User" asp-action="UserProfile" class="nav-link">Profile</a></li>
        <li class="nav-item"><a asp-area="Admin" asp-controller="User" asp-action="All" class="nav-link">Users</a></li>
        <li class="nav-item"><a class="nav-link" href="/Admin/Gyms/All">Gyms</a></li>
    </ul>
}